* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #272a31;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

i {
  color: #ec5242;
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h3 {
  color: #ec5242;
}

h1 {
  padding: 5px 15px;
  width: 83vw;
  font-size: 7vw;
  margin-bottom: 5px;
  font-weight: 800;
}

h2 {
  font-size: 6vw;
  width: 86vw;
  padding: 15px 15px 15px 15px;
  color: #595959;
}

h3 {
  font-size: 6vw;
  margin-top: 15vh;
  font-weight: 300;
  padding: 5px 15px;
}

h4 {
  padding: 20px 20px 20px 0;
  color: #ec5242;
}

h5 {
  font-size: 3vw;
  color: #868686;
  width: 90vw;
  padding: 0 15px 15px 15px;
}

.container {
  width: 100vw;
  height: 73vh;
}

.container.topbar {
  height: 10vh;
  width: 100vw;
  display: flex;
}

.menu {
  padding: 4% 5% 5% 5%;
  font-size: xx-large;
}

.container.cont1 {
  justify-content: flex-start;
  background-image: url(./Assets/Ai-background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container.cont2 {
  background-color:#42454b ;
}

.container.cont3 {
  background-color: coral;
}

i.fa.fa-bars {
  font-size: 8vw;
}

.textbox {
  font-size: 2.5vw;
  padding: 10px;
  margin: 2vw 2vw 4vw 2vw;
  width: 83vw;
  border: 4px solid white;
}

.program {
  border: 1px solid white;
  margin: 10px;
  display: flex;
  width: 94vw;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

i.fas.fa-calendar-alt {
  padding: 20px;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  ul#menu-items {
    display: none;
  }
}
